In [1]:
import numpy as np
import pandas as pd

In [44]:
def conv(s):
    if s.startswith('Same'):
        return 0
    if s.startswith('Below'):
        return -1
    if s.startswith('Above'):
        return 1
    return 0

def col_transform(s):
    return '_'.join(s.split()[:-2])

df = pd.read_csv(r'data\Hospital General Information.csv', encoding='latin-1')
input_cols = [c for c in df.columns if c.endswith('comparison')] 
target_col = ['Hospital overall rating']
df_input = df[input_cols].applymap(conv)
df_input.columns = [col_transform(s) for s in df_input.columns]
df_target = df[target_col]
df_target.columns = ['Rating']
df_target = df_target[df_target.Rating != 'Not Available']
df_input = df_input.loc[df_target.index, :]

In [45]:
df_input.shape, df_target.shape

((3567, 7), (3567, 1))

     Rating
0         3
1         3
2         2
3         2
4         3
5         2
6         3
7         3
9         2
10        4
11        4
12        3
13        3
14        4
15        4
16        3
17        4
18        3
19        3
20        3
21        3
22        2
23        5
24        4
25        3
26        3
27        3
28        3
29        3
30        4
...     ...
4747      3
4748      3
4749      5
4750      4
4751      4
4752      3
4753      2
4754      3
4757      2
4759      3
4761      5
4762      4
4765      3
4766      4
4769      4
4770      4
4771      4
4773      4
4774      2
4776      4
4777      4
4778      3
4779      4
4780      4
4782      4
4784      4
4787      3
4791      3
4793      3
4809      3

[3567 rows x 1 columns]

In [18]:
target = ['Hospital overall rating']

In [19]:
target

0                   3
1                   3
2                   2
3                   2
4                   3
5                   2
6                   3
7                   3
8       Not Available
9                   2
10                  4
11                  4
12                  3
13                  3
14                  4
15                  4
16                  3
17                  4
18                  3
19                  3
20                  3
21                  3
22                  2
23                  5
24                  4
25                  3
26                  3
27                  3
28                  3
29                  3
            ...
4782                4
4783    Not Available
4784                4
4785    Not Available
4786    Not Available
4787                3
4788    Not Available
4789    Not Available
4790    Not Available
4791                3
4792    Not Available
4793                3
4794    Not Available
4795    Not Available
4796    Not Available
4797    Not Available
4798    Not Available
4799    Not Available
4800    Not Available
4801    Not Available
4802    Not Available
4803    Not Available
4804    Not Available
4805    Not Available
4806    Not Available
4807    Not Available
4808    Not Available
4809                3
4810    Not Available
4811    Not Available
Name: Hospital overall rating, Length: 4812, dtype: object